{% extends 'myapp/base.html' %}

{% block subtitle %}
{{ subtitle }}
{% endblock %}

{% block contents %}
    {{ form.text_string_1.label }} {{ form.text_string_1 }}<br>
    <br>
    <button type="submit" name="button_1">Проверить канал</button><br>
    <br>
    <button type="submit" name="button_2">Проверить, есть ли текущая трансляция</button><br>
    <br>
    <br>
    <label for="{{ form.dropdown_field.id_for_label }}">{{ form.dropdown_field.label }}</label>
    {{ form.interval }}
    <br>
    <button type="submit" name="button_3">Создать задачу</button><br>
{% endblock %}