# Папка виртуального окружения
venv/
.env/

# Файлы базы данных
*.sqlite3

# Папки с логами
*.log

# Файлы временных данных
__pycache__/
*.pyc
*.pyo

# Конфигурации IDE (например, PyCharm)
.idea/

# Статические файлы, если не хотите загружать их в репозиторий
/static/
/media/

.env